<button type="button"class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#exampleModal">
　             <i class="fas fa-question-circle"></i>
　             ISBNとは？
　           </button>
    　        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
               <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">ISBN（アイエスビーエヌ)</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  <div class="modal-body">
                  「International Standard Book Number」=国際標準図書番号の略称。
                   書籍を世界共通で特定するための番号。
                   現在ISBNは計13桁の番号で構成されています。<br>
                  （例） ISBN ●●● – ▲▲ – ■■■■ – ○○○○ – △
      　                 <%= image_tag 'img_isbn.png', size: '443x307' %>
                  </div>
              </div>
             </div>
            </div>