<a href="https://twitter.com/twitter" target="_blank">
    <i class="fab fa-twitter-square fa-2x"> </i>
</a>
<a href="https://www.facebook.com/" target="_blank">
    <i class="fab fa-facebook-square fa-2x"> </i>
</a>
<a href="https://line.me/ja/" target="_blank">
    <i class="fab fa-line fa-2x"></i>
</a>
<a href="https://mail.google.com/mail/u/0/" target="_blank">
    <i class="fas fa-envelope-square fa-2x"></i>
</a>